body {
  margin: 0;
  overflow: hidden;
  background: black;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
}

#message {
  position: fixed;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
}

#joystick {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
}

#stick {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 30px;
}

#restart {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
